<!DOCTYPE html>
<html>
<head>
    <link th:href="@{/ajout.css}" rel="stylesheet">

    <!-- Vos liens CSS et autres en-têtes ici -->
</head>
<body>
    <form method="post" th:object="${Produit}" th:action="@{/admin/submitProduit}">
        <div>
            <label for="nom">Nom du produit:</label>
            <input type="text"name="nom" required th:field="*{nom}">
            <p style="color: red;" th:errors="*{nom}"></p>
        </div>
        <div>
            <label for="prix">Prix du produit:</label>
            <input type="number" name="prix" required th:field="*{prix}">
            <p style="color: red;" th:errors="*{prix}"></p>

        </div>
        <div>
            <label for="quantite">Quantité du produit:</label>
            <input type="number"  name="quantite" required th:field="*{quantite}">
            <p style="color: red;" th:errors="*{quantite}"></p>

        </div>
        <div>
            <label for="categorie">Catégorie du produit:</label>
            <select  name="categorie" th:field="*{categorie}">
                <option th:each="c:${categories}" th:text="${c.nom}" th:value="${c.id}"></option>
                
            </select>
        </div>
        <div>
            <button type="submit">Ajouter</button>
        </div>
    </form>
</body>
</html>
